{% extends 'navbar.html' %}

{% block body %}

<h1> About </h1>

<p class="welcomeParagraph">
    Noted is a web-based internet application for the creation and sharing of lecture notes.  
    It has been developed by Korey Hawsey as a part of his Final Year Computer Science module
    at the University of Westminster. For guidance on the included templates, please refer to the 
    visuals below or to 
    <a href="https://www.oxfordlearning.com/5-effective-note-taking-methods/"> Oxford Learning's guide</a>.
    For any further guidance or help, please contact me 
    <a href="mailto:w1905856@my.westminster.ac.uk?subject=Noted%20Web%20App%20Help"> here</a>.
</p>

<p class="welcomeParagraph">
    <strong> Cornell Method </strong> <br>
    The Cornell method is great for creating organized notes with summaries that make them easy to review and use for studying.  The note is divided into three sections:
    cues, notes, and summary.  Firstly, the notes section is located in the top-right and is where the notes will be written during the lecture.  Next is the cues section which
    is located in the top-left and is where main ideas and topics will be added after the lecture.  Lastly, the summary section is located at the bottom and is where the 
    key points and information will be summarised after the lecture.
    <img class="aboutPageScreenshots" src="{{ url_for('static', filename='Cornell Template Pic.png') }}" alt="Screenshot showing the structure of the Cornell method template">
</p>

<p class="welcomeParagraph">
    <strong> Sentence Method </strong> <br>
    The Sentence method is an easy and efficient method for capturing a lot of information very quickly.  Each new point is a new line, so that each individual point 
    can be easily distinguished.  Additional headings can also be added to separate by different topics.
    <img class="aboutPageScreenshots" src="{{ url_for('static', filename='Sentence Template Pic.png') }}" alt="Screenshot showing the structure of the Sentence method template">
</p>

<p class="welcomeParagraph">
    <strong> Outlining Method </strong> <br>
    The Outlining method is best for creating notes with topics that contain a lot of detail.  Its nested structure allows for easily visible relationships between topics and subtopics.
    Each main topic has its own heading and its relative subtopics and each subtopic has its own list of key points.
    <img class="aboutPageScreenshots" src="{{ url_for('static', filename='Outlining Template Pic.png') }}" alt="Screenshot showing the structure of the Outlining method template">
</p>

<p class="welcomeParagraph">
    <strong> Charting Method </strong> <br>
    The Charting method separates information into distinct categories that each occupies their own column.  This method is best suited for topics that cover a lot of facts or 
    realtionships between topics.  Each column has its distinct subheading and then a list of relevant details.
    <img class="aboutPageScreenshots" src="{{ url_for('static', filename='Charting Template Pic.png') }}" alt="Screenshot showing the structure of the Charting method template">
</p>

<p class="welcomeParagraph">
    <strong> Mapping Method (update pic) </strong> <br>
    The Mapping method is the most visual method and is best for representing relationships between topics.  Start with the main topic and then branch out into each of its subtopics,
    then put the key details and lastly the trail of interconnected points.
    <img class="aboutPageScreenshots" src="{{ url_for('static', filename='Charting Template Pic.png') }}" alt="Screenshot showing the structure of the Mapping method template">
</p>

<br><br><br><br>


{% endblock %}