{% extends 'navbar.html' %}

{% block body %}

<h1> This is the About page. </h1>

<p class="welcomeParagraph">
    Noted is a web-based internet application for the creation and sharing of lecture notes.  
    It has been developed by Korey Hawsey as a part of his Final Year Computer Science module
    at the University of Westminster. For guidance on the included templates, please refer to the 
    visuals below or to 
    <a href="https://www.oxfordlearning.com/5-effective-note-taking-methods/"> Oxford Learning's guide</a>.
    For any further guidance or help, please contact me 
    <a href="mailto:w1905856@my.westminster.ac.uk?subject=Noted%20Web%20App%20Help"> here</a>.
</p>

<p class="welcomeParagraph">
    Cornell Method
</p>

<p class="welcomeParagraph">
    Mapping Method
</p>

<p class="welcomeParagraph">
    Outlining Method
</p>

<p class="welcomeParagraph">
    Charting Method
</p>

<p class="welcomeParagraph">
    Sentence Method
</p>



{% endblock %}