{% extends 'navbar.html' %}

{% block body %}

<h1> Delete Account </h1>

<form method="POST">
    <p class="displayMessage">
        Below is a list of all of the notes that have been created on this account.  Upon deletion of this account what would you like to happen to these notes?
    </p>

    <table class="noteListTable">
        <tr>
            <th> Note Name </th>
            <th> Creator </th>
            <th> Area </th>
            <th> Template </th>
            <th> Privacy </th>
        </tr>
        {% if filteredNotes %}
            {% for note in filteredNotes %}
            <tr>
                <td> <a href="{{ url_for('viewNote', noteID=note['_id']) }}"> {{ note['name'] }} </a> </td>
                <td> {{ note['creatorName'] }} </td>
                <td> {{ note['area'] }} </td>
                <td> {{ note['template'] }} </td>
                <td> {{ note['privacy'] }} </td>
            </tr>
            {% endfor %}
        {% endif %}
    </table>

    <div class="createRowRadio">
        <input type="radio" id="keepNotes" name="whatToDoWithNotes" value="keepNotes" checked>
        <label for="keepNotes" style="margin-right: 30px"> Keep all notes you have created on the application </label>
        <br>
        <input type="radio" id="deleteNotes" name="whatToDoWithNotes" value="deleteNotes">
        <label for="deleteNotes"> Delete all notes you have created on the application </label>
    </div>

    <ul class="buttonRow"> 
        <li> <a href="{{ url_for('accountDetails') }}"> <button type="button"> Cancel </button> </a> </li>
        <li> <button type="submit" class="delete"> Delete </button> </li>
    </ul>
</form>

{% for note in notesToDelete %}
    {{ note }}
{% endfor %}

{% endblock %}