{% extends 'navbar.html' %}

{% block body %}

<h1> Delete Note </h1>

<form method="POST">
    <p class="displayMessage">
        Are you sure you want to delete the following note?
    </p>

    <table class="noteListTable">
        <tr>
            <th> Note Name </th>
            <th> Creator </th>
            <th> Area </th>
            <th> Template </th>
            <th> Privacy </th>
        </tr>
        {% if selectedNote %}
            <tr>
                <td> <a href="{{ url_for('viewNote', noteID=selectedNote['_id']) }}"> {{ selectedNote['name'] }} </a> </td>
                <td> {{ selectedNote['creatorName'] }} </td>
                <td> {{ selectedNote['area'] }} </td>
                <td> {{ selectedNote['template'] }} </td>
                <td> {{ selectedNote['privacy'] }} </td>
            </tr>
        {% endif %}
    </table>

    <ul class="buttonRow"> 
        <li> <a href="{{ url_for('viewNote', noteID=selectedNote['_id']) }}"> <button type="button"> Cancel </button> </a> </li>
        <li> <button type="submit" class="delete"> Delete </button> </li>
    </ul>

</form>

{% endblock %}