{% extends 'navbar.html' %}

{% block body %}

<h1> Welcome to Noted! </h1>

<p class="welcomeParagraph">
    Are you a student looking for an easy and efficient way to take notes during lectures?
    Then look no further! Noted has you covered!
</p>

<p class="welcomeParagraph">
    With an easy to navigate interface and many note templates to choose from, Noted is the perfect
    tool for notetaking!  Noted also allows for you to send notes to and receive notes from
    other users to facilitate collaborative learning and advanced sharing of crucial study material.
</p>

<p class="welcomeParagraph">
    Are you ever in a rush and don't have enough time to go over all 
    of the material again?  Well fear not as Noted can quickly generate a summary of any note in 
    the system!  Or do you want to be able to study while doing chores or any other activity?  
    Then make use of Noted's built-in text-to-speech feature to have your notes read to you!
    </p>

<p class="welcomeParagraph">
    Lastly, but certainly not least, Noted is absolutely free to use and does not require an account
    to browse!  All users can enjoy access to any of the publicly available notes on the platform, however,
    in order to create your own notes you will have to create an account, but then your notes are 
    then stored for you and can be accessed at any time.
</p>

deployment update test


{% endblock %}