{% extends 'navbar.html' %}

{% block body %}

<h1> Register </h1>

<form method="POST" class="account">
    <div class="inputRow">
        <label for="username"> Username </label>
        <input type="text" id="username" name="username" placeholder="Please enter your username">
    </div>
    
    <div class="inputRow">
        <label for="password"> Password </label>
        <input type="password" id="password" name="password" placeholder="Please enter your password">
    </div>

    {% if errorMessage %}
        <div class="errorMessage">
            {{ errorMessage }}
        </div>
    {% endif %}

    <ul class="buttonRow">
        <li> <button type="submit" class="submit"> Register </button> </li>
    </ul>

    <div class="redirectLink">
        Already have an account yet?  Log in <a href="{{ url_for('login') }}"> here</a>.
    </div>
</form>

{% endblock %}