{% extends 'navbar.html' %}

{% block body %}

{% block scripts %}
    {{ super }}
    {{ moment.include_moment() }}
{% endblock %}

<h1> {{ selectedNote['name'] }} </h1>

<h4> {{ selectedNote['template'] }} Template </h4>
<h4> Created by {{ selectedNote['creatorName'] }} on {{ moment( selectedNote['creationDateTime'] ).format('LLL') }} </h4>
<h4> Last edited on {{ moment( selectedNote['lastSavedEditDateTime'] ).format('LLL') }}</h4>

<script type="text/javascript" src="{{ url_for('static', filename='tinymce/js/tinymce/tinymce.min.js') }}"></script>
<script type="text/javascript">
    tinymce.init({
        selector: 'textarea#text-editor-view',
        height: 300,
        editable_root: false
    });
</script>

<ul class="viewNoteButtons">
    <li><a href="{{ url_for('summarizeNote', noteID=selectedNote['_id']) }}"><button type="button"> Summarize </button></a></li>
    <li><a href="{{ url_for('downloadNote', noteID=selectedNote['_id']) }}"><button type="button"> Download PDF </button></a></li>
    <li><a href="{{ url_for('ttsNote', noteID=selectedNote['_id']) }}"><button type="button"> Text-to-speech </button></a></li>
    <li><a href="{{ url_for('shareNote', noteID=selectedNote['_id']) }}"><button type="button"> Share </button></a></li>
</ul>

<div class="noteBody">
    <textarea id="text-editor-view" name="tinymce"> {{ selectedNote['content'] }} </textarea>
</div>

{% endblock %}